<?xml version="1.0"?>
<config>
    <modules>
        <DigitalUp_Fbpixel>
            <version>0.1.0</version>
        </DigitalUp_Fbpixel>
    </modules>
    <global>
        <models>
            <digitalup_fbpixel>
                <class>DigitalUp_Fbpixel_Model</class>
                <resourceModel>digitalup_fbpixel_resource</resourceModel>
            </digitalup_fbpixel>
            <digitalup_fbpixel_resource>
                <class>DigitalUp_Fbpixel_Model_Resource</class>
            </digitalup_fbpixel_resource>
        </models>
        <blocks>
            <digitalup_fbpixel>
                <class>DigitalUp_Fbpixel_Block</class>
            </digitalup_fbpixel>
        </blocks>
        <helpers>
            <digitalup_fbpixel>
                <class>DigitalUp_Fbpixel_Helper</class>
            </digitalup_fbpixel>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <digitalup_fbpixel>
                    <file>digitalup_fbpixel.xml</file>
                </digitalup_fbpixel>
            </updates>
        </layout>
    </frontend>
</config>